x64/
.vs/
build/
VulpesRender.dir/ 
ext/lib/
ext/include/glfw
ext/include/glm
ext/include/vulkan/
logs/

fixes\.yaml

\.vscode/settings\.json
ext/include/GLFW/

download/glfw/src/glfw3-stamp/RelWithDebInfo/glfw3-mkdir
