assets/
ext/lib/assimp.pdb
ext/lib/assimp-vc140-mt.lib
ext/lib/assimp-vc140-mt-gd.lib
ext/lib/x64/debug/
x64/Debug/vc141.pdb
x64/Debug/vc141.idb
x64/Debug/stdafx.obj
x64/Debug/imguiWrapper.obj
x64/Debug/VulpesRender2.tlog/unsuccessfulbuild
x64/Debug/VulpesRender2.tlog/VulpesRender2.lastbuildstate
x64/Debug/VulpesRender2.tlog/CL.write.1.tlog
x64/Debug/VulpesRender2.tlog/CL.read.1.tlog
x64/Debug/VulpesRender2.tlog/CL.command.1.tlog
x64/Debug/VulpesRender2.pch
x64/Debug/VulpesRender2.obj
x64/Debug/VulpesRender2.log
x64/Debug/TransferPool.obj
x64/Debug/Swapchain.obj
x64/Debug/ShaderModule.obj
x64/Debug/Renderpass.obj
x64/Debug/PipelineCache.obj
x64/Debug/PhysicalDevice.obj
x64/Debug/Multisampling.obj
x64/Debug/LogicalDevice.obj
x64/Debug/Instance.obj
x64/Debug/Image.obj
x64/Debug/GraphicsPipeline.obj
x64/Debug/Framebuffer.obj
x64/Debug/DepthStencil.obj
x64/Debug/CommandPool.obj
x64/Debug/Buffer.obj
x64/Debug/BaseScene.obj
x64/Debug/Allocator.obj
x64/Debug/AABB.obj
.vs/VulpesRender2/v15/ipch/VULPESRENDER2-6009246c/VULPESRENDER2-894b187b.ipch
.vs/VulpesRender2/v15/Browse.VC.db
.vs/VulpesRender2/v15/.suo
x64/Debug/vpr_stdafx.obj
x64/Debug/imgui_draw.obj
x64/Debug/imgui.obj
x64/Debug/easylogging++.obj
x64/Debug/VulpesRender2.tlog/link.write.1.tlog
x64/Debug/VulpesRender2.tlog/link.read.1.tlog
x64/Debug/VulpesRender2.tlog/link.command.1.tlog
x64/Debug/VulpesRender2.pdb
x64/Debug/VulpesRender2.ilk
x64/Debug/VulpesRender2.exe
.vs/VulpesRender2/v15/ipch/AutoPCH/VULPESRENDER2-6009246c/IMGUI_DRAW-c3600e88/IMGUI_DRAW.ipch
.vs/VulpesRender2/v15/Browse.VC.opendb
.vs/VulpesRender2/v15/ipch/AutoPCH/VULPESRENDER2-6009246c/IMGUI-ddfdf29b/IMGUI.ipch
.vs/
x64/Release/VulpesRender2.tlog/VulpesRender2.lastbuildstate
x64/Release/VulpesRender2.tlog/CL.command.1.tlog
x64/Release/VulpesRender2.pdb
x64/Release/VulpesRender2.log
x64/Debug/VulpesRender2.tlog/Lib.command.1.tlog
x64/Debug/VulpesRender2.tlog/Lib-link.write.1.tlog
x64/Debug/VulpesRender2.tlog/Lib-link.read.1.tlog
x64/Debug/VulpesRender2.idb
x64/Debug/VulpesRender2.Build.CppClean.log
x64/Release/VulpesRender2.tlog/unsuccessfulbuild
build/
VulpesRender.dir/
x64/Debug/ZERO_CHECK/ZERO_CHECK.log
glfw/
ext/lib/src/
ext/lib/CMakeFiles/
ext/lib/cmake/
x64/Debug/glfw3/glfw3.log
ext/lib/uninstall.vcxproj.filters
ext/lib/uninstall.vcxproj
ext/lib/pkgconfig/glfw3.pc
ext/lib/install_manifest.txt
ext/lib/glfw3.lib
ext/lib/cmake_uninstall.cmake
ext/lib/cmake_install.cmake
ext/lib/ZERO_CHECK.vcxproj.filters
ext/lib/ZERO_CHECK.vcxproj
ext/lib/INSTALL.vcxproj.filters
ext/lib/INSTALL.vcxproj
ext/lib/GLFW.sln
ext/lib/CMakeCache.txt
ext/lib/ALL_BUILD.vcxproj.filters
ext/lib/ALL_BUILD.vcxproj
assimp/
ext/lib/assimp-vc141-mt-gd.lib
ext/lib/zlibstaticd.lib
ext/lib/pkgconfig/
x64/Release/glfw3/glfw3.log
x64/Release/ZERO_CHECK/ZERO_CHECK.log
x64/RelWithDebInfo/ZERO_CHECK/ZERO_CHECK.log
ext/lib/glfw3-gd.lib
ext/glslang/
ext/SPIRV/
glslang/
ext/lib/
.vscode/
ext/include/SPIRV/bitutils.h
ext/include/
x64/RelWithDebInfo/glfw3/glfw3.log
