x64/
.vs/
build/
VulpesRender.dir/ 
ext/lib/
ext/include/glfw
ext/include/glm
x64/RelWithDebInfo/glfw3/glfw3.log
download/
glfw/
wsl_build/
ext/include/vulkan/
logs/

fixes\.yaml

\.vscode/settings\.json
